:root{
--space-1:2px;
--space-2:5px;
--space-3:7px;
--space-4:8px;
--space-5:10px;
--space-6:12px;
--space-7:15px;
--space-8:20px;
--space-9:25px;
--space-10:30px;
--space-11:40px;

--radius-xs:3px;
--radius-sm:4px;
--radius-md:5px;
--radius-lg:8px;
--radius-xl:10px;
--radius-2xl:15px;
--radius-pill:100px;
--radius-circle:50%;

--sidebar-width:250px;
--content-gutter:40px;
}
